button {
    width: 70px;}

#characters {margin-top: 100px;

            width: 100%;}    
#header {text-align: right;
        margin-right: 75px;
        margin-top: 25px;}
img {height: 150px;
   
    width: 150px;}




#you {margin-top: 15px;}